<div class="container">
<div class="row">
  <div class="col-8 offset-2">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Vehicles Requested</h5>
        <p>
          <strong>Ticket Number:</strong> {{customer.ticketNum}}</p>
        <p>
          <strong>User Name:</strong> {{customer.userName}}</p>
        <p>
          <strong>Model Name:</strong> {{customer.modelName}}</p>
        <a href="/">← Back To Home</a>
      </div>
    </div>
  </div>
</div>
</div>
