<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

</head>

<div class="card bg-light mb-5 mx-auto" style="max-width: 800px;">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title">Client Information</h5>
                <p class="card-text">

                    <form method="POST" action="/api/customers">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Last Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="userName"
                                placeholder="Client Last Name">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Ticket Number</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="ticketNum"
                                placeholder="Client Ticket #">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Make/Model of Car</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="modelName"
                                placeholder="Car Make & Model">
                        </div>

                        <br>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Time Until Return</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="returnTime"
                                placeholder="Approximate Time Frame">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-dark btn-block">Submit</button>
                    </form>


                </p>

            </div>
        </div>
    </div>
</div>
</div>